* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(151, 178, 219, 0.5), rgba(185, 203, 231, 0.9)), url('../imgs/photo-1484480974693-6ca0a78fb36b.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}


.container {
    position: relative;
    background: rgba(13, 76, 171, 0.4);
    overflow: auto;
    z-index: 10;
    backdrop-filter: blur(15px);
    width: 600px;
    padding: 20px;
}


.container .header {
    padding: 10px;
    margin-bottom: 10px;
}

.container .header .header-logo {
    display: flex;
    font-size: 45px;
    margin-bottom: 20px;
    color: #fff;
}


.container .header .header-logo .num-tasks {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.container .header .header-logo .num-tasks p:nth-child(1) {
    text-transform: uppercase;
    display: flex;
    gap: 2px;
    font-size: 10px;
}

.container .header .list-controls {
    background: rgba(225, 225, 225, 0.1);
    padding: 10px;
    display: flex;
}

.container .header .list-controls input {
    width: 88%;
    background: rgba(225, 225, 225, 0.3);
    outline: none;
    box-shadow: none;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

.container .header .list-controls button {
    width: 12%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: rgba(225, 225, 225, 0.8);
    background: rgba(13, 76, 171, 0.1);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .header .list-controls button:hover {
    color: rgba(252, 252, 252, 1);
}

.container .tasks-container {
    padding: 10px;
    overflow: auto;
    max-height: 300px;
}

.container .tasks-container .task-card {
    background: rgba(13, 76, 171, 0.1);
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

/* _______________ */
.container .tasks-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.container .tasks-container::-webkit-scrollbar-track {
    border: none;
}

.container .tasks-container::-webkit-scrollbar-thumb {
    background: rgba(13, 76, 171, 0.2);
    transition: 0.5s ease-in-out;
}

.container .tasks-container::-webkit-scrollbar-thumb:hover {
    background: rgba(13, 76, 171, 0.5);
}

/* _____________________ */
.container .tasks-container .task-card .task-controls {
    display: flex;
    margin: 0 0 0 auto;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container .tasks-container .task-card .task-controls .delete,
.container .tasks-container .task-card .task-controls .edit,
.container .tasks-container .task-card .task-controls .checked {
    background: rgba(225, 225, 225, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(252, 252, 252, 0.8);
    transition: 0.5s ease-in-out;
}

.container .tasks-container .task-card .task-controls .delete:hover,
.container .tasks-container .task-card .task-controls .edit:hover,
.container .tasks-container .task-card .task-controls .checked:hover {
    background: rgba(225, 225, 225, 0.4);
    color: rgba(13, 76, 171, 0.5);
}

.container .tasks-container .task-card .task-controls .delete:hover {
    background: rgba(255, 10, 10, 0.4);
    color: #fff;
}

.container .tasks-container .task-card .task-controls .checked.done {
    color: rgba(225, 225, 225, 0.8);
    background: rgba(10, 225, 10, 0.1);
}

.container .tasks-container .task-card .task-content {
    padding: 0 10px;
}

.container .tasks-container .task-card .task-content .task-title {
    font-size: 35px;
    color: rgba(225, 225, 225, 0.8);
}

.container .tasks-container .task-card.done {
    background: rgba(10, 255, 10, 0.1);
    border: none;
}


.container .tasks-container .task-card.not-done {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container .tasks-container .task-card .task-head {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgba(252, 252, 252, 0.1);
}

.container .tasks-container .task-card .task-head p {
    color: rgba(225, 225, 225, 0.9);
    font-size: 12px;
}

.container .tasks-container .task-card .task-body {
    display: flex;
    text-transform: uppercase;
    padding: 5px 0;
}