@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 40px;
    min-height: 100vh;
}

p {
    display: flex;
}

p:not(.abt) span {
    margin-right: 10px;
}

.screenshot,
#src-btn {
    position: fixed;
    right: 30px;
}

#src-btn {
    bottom: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50%;
}

#src-btn span {
    position: absolute;
    top: -40px;
    min-width: 200px;
    right: 0;
    background: #3457a6;
    color: #fcfcfc;
    opacity: 0;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

#src-btn span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3457a6;
    right: 15px;
    z-index: -1;
    bottom: -10px;
    transform: rotate(45deg);
}

#src-btn:hover span {
    opacity: 1;
    pointer-events: auto;
}

.src-preview {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.src-preview.active {
    display: block;
}

.src-preview .screenshot {
    top: 50%;
    left: 50%;
    width: 70%;
    height: 500px;
    background: rgba(252, 252, 252, 0.5);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
    border: none;
}


#close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #fcfcfc;
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    transition: 0.5s ease-in-out all;
    background: #6d4baa;
}

#download-btn:hover,
#close-btn:hover {
    background: #3457a6;
    color: #fcfcfc;
}

#download-btn {
    bottom: 0;
    left: 0;
    position: absolute;
    color: #fcfcfc;
    cursor: pointer;
    background: #6d4baa;
    padding: 10px;
    font-size: 25px;
    transition: 0.5s ease-in-out all;
}

.screenshot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    display: flex;
    gap: 20px;
    padding: 30px 20%;
    flex-wrap: wrap;
}


.info h1 {
    color: #3457a6;
}

.info p {
    color: #e034b3;
    padding-left: 20px;
}

.img-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    padding: 10px;
}

.img-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-top: #e034b3 solid 2px;
    border-left: #e034b3 solid 2px;
}

.img-info::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-bottom: #e034b3 solid 2px;
    border-right: #e034b3 solid 2px;
}

.p-info {
    width: 520px;
}

.about {
    margin-top: 20px;
    padding: 20px 0 0 20px;
}

.about p {
    color: #6d4baa;
}

.about .abt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    color: #3457a6;
    position: relative;
}

.about .abt::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2px;
    height: 2px;
    width: 40px;
    background: #3457a6;
}

.about .abt span {
    font-size: 20px;
}