@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    color: #57372e;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(195, 167, 156, 0.5), rgba(159, 129, 119, 0.9)), url('../imgs/617fb115-e5c2-419a-a374-c7a725ec1f9d.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 370px;
    padding: 25px 30px;
    background: rgba(242, 226, 212, 0.5);
    backdrop-filter: blur(15px);
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form {
    margin: 10px 0 20px;
}

form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.row.field {
    position: relative;
}

.row.field::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 2px #57372e solid;
    border-left: 2px #57372e solid;
    left: 0;
    top: 33px;
}

.row.field::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 2px #57372e solid;
    border-right: 2px #57372e solid;
    bottom: 0;
    right: 0;
}

form .row label {
    font-size: 16px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

form :where(textarea, select, button) {
    outline: none;
    width: 100%;
    border: none;
}


form select {
    background: none;
    border: none;
}

form .row textarea {
    resize: none;
    height: 110px;
    font-size: 16px;
    padding: 12px 10px;
    background: rgba(195, 167, 156, 0.5);
}

form .row textarea::-webkit-scrollbar {
    width: 0;
}

form .row .outers {
    height: 47px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: none;
    transition: 0.5s ease-in-out all;
    background: rgba(195, 167, 156, 0.4);
}

form .row .outers:hover {
    background: rgba(195, 167, 156, 0.8);
}

form .row select {
    font-size: 14px;
    cursor: pointer;
}

form button {
    position: relative;
    height: 52px;
    margin-top: 10px;
    color: #57372e;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    overflow: hidden;
    transition: 0.5s ease-in-out all;
    border: #57372e solid 1px;
}

form button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #57372e;
    transition: 0.5s ease-in-out all;
    top: 0;
    left: 0;
    z-index: -1;
    left: -100%;
}

form button:hover {
    color: #f2e2df;
    border: transparent solid 1px;
}

form button:hover::before {
    left: 0;
}