@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

body,
.wrapper,
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(233, 84, 73, 0.5), rgba(238, 136, 121, 0.9)), url('../imgs/pexels-aphiwat-chuangchoem-359989.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wrapper {
    width: 440px;
    background: rgba(25, 75, 83, 0.5);
    flex-direction: column;
    padding: 30px 30px 38px;
    backdrop-filter: blur(15px);
}

h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
}

h2::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background: #f8f0d9;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

h2 p {
    letter-spacing: 2px;
    color: #f3bca9;
}

h2 img {
    width: 150px;
    display: block;
}


.wrapper h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 30px 0;
    color: #f8f0d9;
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.wrapper h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-top: solid 2px #f3bca9;
    border-left: solid 2px #f3bca9;
}

.wrapper h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom: solid 2px #ee8879;
    border-right: solid 2px #ee8879;
}

.wrapper h1 span {
    font-size: 20px;
    font-weight: 600;
}

.wrapper .content {
    width: 100%;
    justify-content: space-between;
}

.wrapper .content.disable {
    opacity: 0.6;
    pointer-events: none;
}

.content .column {
    width: calc(100% / 3 - 5px);
    padding: 0 10px;
    transition: 0.5s ease-in-out all;
}

.content .column:hover {
    background: #ee8879;
}

.column select {
    outline: none;
    border: none;
    height: 53px;
    font-size: 19px;
    width: 100%;
    color: #f8f0d9;
    background: none;
    cursor: pointer;
}

.column select option {
    color: #194b53;
}

.wrapper button {
    width: 100%;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    cursor: pointer;
    color: #f8f0d9;
    text-transform: uppercase;
    background: none;
    transition: 0.5s ease-in-out all;
    border: #f8f0d9 solid 1px;
}

.wrapper button:hover {
    border: #ee8879 solid 1px;
}

.wrapper button::before {
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #ee8879;
    position: absolute;
    content: '';
    left: -100%;
    top: 0;
    transition: 0.5s ease-in-out all;
}

.wrapper button:hover:before {
    left: 0;
}

.ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(233, 84, 73, 0.2), rgba(238, 136, 121, 0.2));
    backdrop-filter: blur(15px);
}

.ring.active {
    display: flex;
}

.ring .ring-cont {
    width: 440px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgba(25, 75, 83, 0.5);
    padding: 40px;
    flex-direction: column;
}

.ring .ring-cont span:first-child {
    font-size: 150px;
    color: #ee8879;
}

.ring .ring-cont span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 25px;
    color: #ee8879;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}

.ring .ring-cont span:last-child:hover {
    color: #f8f0d9;
    background: #ee8879;
}

.ring .ring-cont span:nth-child(2) {
    color: #ee8879;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
}